.hidden{
    display: none;
    height: 0;
}
.jokePunchline{
    font-style: italic;
    margin-top: 0.5em;
}
.jokeCategory{
    font-style: normal;
    font-size: small;
}
.jokePunchlineBtn{
    margin: 0.5em 0;
}