.mainContainer{
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.mainContainer * {
    color: var(--dark-color);
    background-color: var(--primary-color);
}
@media (max-width: 768px){
    .mainContainer{
        flex-direction: column;
    }
}
.mainContainer h1{
    text-align: center;
    font-size: 1.5em;
}
.link, button{

    align-items: center;
    text-align: center;
    text-decoration: none;
    color: var(--dark-color);
    font-weight: 600;
    padding: 0.5em 0.5em;
    margin: 0.5em 0;
    border: 1px solid var(--dark-color);
    border-radius: 10px;
    transition: all 0.1s ease-in;
}
.link:hover , button:hover{
    background-color: var(--dark-color);
    color: var(--background-color);
    cursor: pointer;
}
.returnMain{
    padding: 2em 1em;
}